:root {
  //light
  --light-100: #FFFFFF;
  --light-900: #A1A1AA;

  // dark
  --dark-100: #4c4c4c;
  --dark-200: #414144;
  --dark-300: #333;
  --dark-400: #27272A;
  --dark-500: #202124;

  //danger
  --danger-100: #DF4444;

  --shadow-blue: #7890B2;
}