.container {
  height: 100%;
}

.projects_header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  border-bottom: 1px solid var(--dark-200);
}

.main {
  height: 100%;
  display: flex;
}

.btn_icon {
  padding: 0;
}

.side_bar {
  max-width: 234px;
}