.button {
  cursor: pointer;

  display: inline-flex;
  gap: 14px;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 2px;
  color: var(--light-900);
  line-height: var(--line-height-s);

  transition:
          background-color 0.2s ease-in-out,
          color 0.2s ease-in-out;

  &:disabled {
    cursor: unset;
  }
}

.outline {
  background-color: transparent;
  padding: 4px 3px;

  &:hover {
    background-color: var(--dark-200);
  }

  &:active {
    background-color: var(--dark-300);
  }
}
