.input {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  background-color: transparent;
  border: 1px solid var(--dark-200);
  color: var(--light-900);
  border-radius: 6px;
  padding: 4px;
  width: 100%;
}