.cell {
  position: relative;
}

.buttons_wrapper {
  display: flex;
  gap: 6px;
  padding: 2px;
  border-radius: 6px;
  width: 28px;
  overflow: hidden;
  margin-right: 27px;
  &:hover {
    width: 55px;
    background-color: var(--dark-200);
    margin-right: 0;
  }
}

.button {
  padding: 0;
}

.icon_trash {
  width: 16px;
  height: 16px;
}

.line {
  position: absolute;
  width: 1px;
  background-color: var(--light-100);
}

.line_down {
  top: 38px;
  left: 14px;
}

.line_left {
  height: 1px;
  width: 12px;
  top: 29px;
}