.container_table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--dark-500);
}

.title_table {
  border-bottom: 1px solid var(--dark-200);
}

.title {
  display: inline-block;
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  font-weight: var(--font-weight-normal);
  color: var(--light-100);
  padding: 11px 15px;
  border-right: 1px solid var(--dark-200);
}

.table {
  width: 100%;
}