.sidebar {
  border-right: 1px solid var(--dark-200);
  height: 100%;
}

.accordion   {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px 8px 20px;
  border-bottom: 1px solid var(--dark-200);
  gap: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  color: var(--light-900);
}

.title {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}

.abbr {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}

.active {
  background-color: var(--light-900);
}