@import "../../../app/styles/boilerplate";

.sidebar {
  border-right: $border-style;
  height: 100%;
}

.accordion   {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px 8px 20px;
  border-bottom: $border-style;
  gap: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  color: var(--light-900);
}

.title {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}

.abbr {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}

//.project_list {
//  padding: 0 17px;
//}

.active {
  background-color: var(--light-900);
}